<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% for (let i = 0; i < studentsArray.length;i++) { %>
		<div class="col-sm-12 student">
			<a href="">
				<%= studentsArray[i] %>
			</a>
		</div>
	<% } %>

</body>
</html>